<!DOCTYPE html>
<html>
<head>
	<title>Send Mail</title>
</head>
<body>
   <h2> Redirecting to mailing page </h2>
<script>
window.location.replace("http://localhost:80/VideoCallMail/sendMail.php?url=<%-url%>")
</script>

</body>
</html>